<h1>Studios#index</h1>

<% @studios.each do |studio| %>
  <section id="studio-<%= studio.id %>">
      <p>Studio:<%= studio.name %></p>
      <p>Location:<%= studio.location %></p>
  <% studio.movies.each do |movie| %>
    <ul>
      <li><%= movie.title %></li>
    </ul>
  <% end %>
<% end %>
